<% if signed_in? && current_user.admin? %>
  <%= link_to "Edit", edit_blog_path(blog), class: 'float-right' %>
<% end %>

<h2 class="title">
  <%= blog.title %>
</h2>

<div class="fb-like" 
     data-href="<%= blog_url(blog) %>"
     data-width="450" 
     data-show-faces="true" 
     data-colorscheme="dark"
     data-send="true"></div>

<%= BlueCloth.new(blog.content).to_html.html_safe %>


<div class="fb-like" 
     data-href="<%= blog_url(blog) %>"
     data-width="450" 
     data-show-faces="true" 
     data-colorscheme="dark"
     data-send="true"></div>
