<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Conventional 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130128

-->
<html>
  <head>
    <title>BreakingDan</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=357103551019569";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">

     <%- flash.each do |name, msg| -%>
       <%= content_tag :div, msg, :class => 'flash', :id => "flash_#{name}" if msg.is_a?(String) %>
     <%- end -%> 

      <div id="header-wrapper">
        <div id="header" class="container">
          <div id="logo">
            <h1>
              <%= link_to 'BreakingDan', root_path %>
            </h1>
          </div>
          <div id="menu">
            <ul>
              <li class="<%= request.fullpath == '/' ? 'active' : '' %>">
                <%= link_to 'Posts', root_path %>
              </li>
              <li class="<%= request.fullpath =~ /pages\/about/ ? 'active' : '' %>">
                <%= link_to 'About', pages_about_path %>
              </li>
              <% if user_signed_in? && current_user.admin? %>
                <li class="<%= request.fullpath =~ /blogs\/new/ ? 'active' : '' %>">
                  <%= link_to 'New Blog', new_blog_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div id="banner" class="container">
        <img src="<%= asset_path 'conventional/img04.jpg' %>" width="1000" height="300" alt="" />
      </div>

      <div id="page" class="container">
        <div id="content">
          <div id="box1">
            <%= yield %>
          </div>
        </div>

        <div id="sidebar">
          <h2>Recent</h2>
          <ul class="style3">
            <% @recent.each do |post| %>
              <li>
                <p>
                  <%= link_to post.title, post %>
                </p>
                <p class="date">
                  <%= post.created_at.strftime("%m-%d-%Y") %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>


      </div>
    </div>

    <div id="footer">
      <p>Copyright (c) 2013 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
    </div>

  </div>

  <% if user_signed_in? %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <a href='<%= new_user_session_path %>'>
      <%= image_tag 'keychain_small.png', id: 'login_icon' %>
    </a>
  <% end %>
</body>
</html>
